 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
}

html {
	font-family: "Inter", "Roboto", "Arial", sans-serif;
	line-height: 1.7;
	color: $clr-black;
	overflow-x: hidden;
	max-width: 100%;
}

a, button {
	cursor: revert;
}

ol, ul, menu {
	list-style: none;
}

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

table {
	border-collapse: collapse;
}

textarea {
	white-space: revert;
}

::placeholder {
	color: unset;
}

::marker {
	content: "";
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
}

:where([draggable="true"]) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
}

body {
	font-family: "Inter", "Roboto", "Arial", sans-serif;
	background: $clr-white;
	overflow-x: hidden;
	max-width: 100%;
}

main {
	position: relative;
	z-index: 1;
}

.container {
	width: 100%;
	max-width: 1750px;
	padding: 0 20px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow: hidden;
}

.scroll-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: $clr-white url(../img/svg/next-icon.svg) no-repeat 50% 50%;
	background-size: 50% 50%;
    transition: 0.3s;
	z-index: 2;
	transform: rotate(180deg);
	border-radius: 50%;
	border: 2px solid $clr-accent;
	cursor: pointer;
}
