.banner {
	padding: 0 20px;
	background-color: $clr-white;
	overflow: hidden;

	&__container {
		padding: 120px 0;
		max-width: 1280px;
		margin: 0 auto;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1.1fr 1fr;
		align-items: center;
		position: relative;
	}

	&__video-block {
		position: relative;
		height: 0;
		padding-bottom: 62%;
		border-radius: 15px;
		background-color: $clr-black;
	}

	&__banner-play {
        position: absolute;
        top: 12px;
        left: 32px;
        width: 76px;
        height: 76px;
        transition: .3s;
		z-index: 2;
		cursor: pointer;
		&:hover {
			.video__banner-play {
				transform: scale(1.05);
			}
		}
    }

	&__slider {
		position: absolute;
		z-index: 2;
		width: 340px;
		height: 143px;
		right: 0;
		bottom: 16px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(7.5px);
		border-radius: 15px 0 0 15px;
		display: flex;
		overflow: hidden;
		padding: 16px 0 16px 16px;
	}

	&__slide {
		width: 120px;
		min-width: 120px;
		height: auto;
		flex-shrink: 0;
		cursor: pointer;
	}

	&__video-decor-1 {
		position: absolute;
		top: -43px;
    	right: -56px;
		width: 195px;
		height: 196px;
		opacity: .7;
	}

	&__video-decor-2 {
		position: absolute;
		bottom: -27px;
    	left: -63px;
		width: 178px;
		height: 134px;
		opacity: .7;
	}

	&__video-img-main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;
	}

    &__content {
		padding-left: 50px;
		position: relative;	
    }

	&__title {
		margin-bottom: 24px;
	}

    &__list {
		margin-bottom: 42px;
	}

	&__item {
		padding-left: 30px;
		margin-bottom: 9px;
		font-weight: 300;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&--strong {
			font-weight: 600;
		}

		&:before {
			content: "";
			position: absolute;
			top: 2px;
			left: 0;
			width: 20px;
			height: 20px;
			background: url("../img/video/banner-list-icon-x2.min.png") no-repeat 50% 50% /contain;
		}
	}

	&__enjoy {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		max-width: 267px;
		margin: 0 auto;
		background: rgba(180, 206, 197, 0.1);
		border: 0.5px solid $clr-accent;
		box-shadow: 0px 0px 16px rgba(118, 193, 167, 0.4);
		border-radius: 7px;
		padding: 11px 31px 15px;
		position: relative;
	}

	&__arrow {
		position: absolute;
		width: 196px;
		height: 175px;
		right: -230px;
		bottom: -155px;
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("../img/video/banner-video-decor-3b-x2.min.png") no-repeat 50% 50% /contain;
			animation: arrow 1s infinite alternate ease-in;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("../img/video/banner-video-decor-3a-x2.min.png") no-repeat 50% 50% /contain;
			animation: heart .3s infinite alternate ease-in;
		}
	}

	&__enjoy-text {
		position: relative;
		font-size: 14px;
		margin-bottom: 16px;
		line-height: 1.56;
		transform: translateX(-6px);

		&--strong {
			font-weight: 600;
		}

		&:before {
			content: "";
			display: inline-block;
			margin-right: 5px;
			margin-top: -5px;
			width: 33px;
			height: 34px;
			background: url("../img/video/banner-enjoy-icon-x2.min.png") no-repeat 50% 50% /contain;
			transform: translateY(8px);
			opacity: .7;
		}
	}
}