.banner {
	padding: 118px 100px 59px;
	background-color: $clr-white;

	&__wrapper {
		display: grid;
		grid-template-columns: 7fr 5fr;
		align-items: center;
		gap: 50px;
	}

	&__video-block {
		position: relative;
		height: 0;
		padding-bottom: 62%;
		border-radius: 15px;
		overflow: hidden;
		background-color: $clr-black;
	}

	&__video-decor-1 {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__video-decor-2 {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__video-img-main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

    &__content {
		display: block;		
    }

	&__title {
		margin-bottom: 24px;
	}

    &__list {
		margin-bottom: 42px;
	}

	&__item {
		padding-left: 30px;
		margin-bottom: 9px;
		font-weight: 300;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&--strong {
			font-weight: 600;
		}

		&:before {
			content: "";
			position: absolute;
			top: 2px;
			left: 0;
			width: 20px;
			height: 20px;
			background: url("../img/icons/banner-list-icon.png") no-repeat 50% 50% /contain;
		}
	}
}