.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 6px;
	font-weight: 600;
	min-width: 110px;

    &--small {
		font-size: 14px;
		line-height: 1.2;
		padding: 14px 32px;
	}

	&--light {
		color: $clr-black;
		border: 1px solid $clr-accent;
	}

	&--dark {
		line-height: 1;
		color: $clr-white;
		background-color: $clr-accent;
		background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(276.72deg, $clr-accent 0.35%, #85CCB3 104.76%);
		box-shadow: 0px 2px 0px #6ABB9F, inset 0px 4px 25px rgba(255, 255, 255, 0.4);
	}
}