.communication {
    padding: 0 120px;
	overflow: hidden;

	&__container {
		padding: 60px 0 128px;
	}
    &__title {
        max-width: 850px;
        text-align: center;
        margin: 0 auto 55px;
    }

	&__wrapper {
		max-width: 880px;
		margin: 0 auto;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			bottom: 50px;
			left: -300px;
			width: 270px;
			height: 300px;
			z-index: 2;
			background: url("../img/communication-decor-1-x2.min.png") no-repeat 50% 50% /contain;
		}
	}

	&__decor-2 {
		position: absolute;
		bottom: -100px;
		right: -100px;
		width: 186px;
		height: 154px;
		background: url("../img/communication-decor-2a-x2.min.png") no-repeat 50% 50% /contain;
		z-index: 2;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("../img/communication-decor-2b-x2.min.png") no-repeat 50% 50% /contain;
			animation: heart .3s infinite alternate ease-in;
		}	
	}

    &__list {
        display: grid;
        gap: 15px;
        grid-template-columns: 2.75fr 1.9fr 1.9fr;
        grid-template-rows: repeat(6, minmax(50px, 1fr));
    }

    &__item {
		position: relative;
		transition: 1.5s;
		cursor: pointer;

		&:hover {
			.communication__item-front {
				transform: rotateY(180deg) !important;
			}

			.communication__item-back {
				transform: rotateY(360deg) !important;
			}
		}

        &--couples {
            grid-row: span 4;
			flex-direction: column;
			justify-content: center;
        }

		&--parents {
            grid-row: span 3;
			flex-direction: column;
			justify-content: center;
        }

		&--professionals {
			grid-row: span 3;
			flex-direction: column;
			justify-content: center;
		}

		&--women {
			grid-row: span 2;
		}

		&--men {
			grid-row: span 2;
		}

		&--non-binary {
			grid-column: span 2;
			grid-row: span 2;
		}
    }

	&__item-front,
	&__item-back {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: 1s;
  		backface-visibility: hidden;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		box-shadow: 0px 4px 25px rgba(17, 65, 49, 0.07);
	}

	&__item-front {
		background: $clr-white;
		justify-content: center;

		&--row {
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	&__item-back {
		background: #93D1BB;
		color: $clr-white;
		padding: 12px 24px;
		justify-content: center;
		background: radial-gradient(63.67% 63.67% at 36.42% 39.35%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) , #93D1BB;
		box-shadow: 0px 4px 0px #68BB9E, inset 0px 4px 30px rgba(255, 255, 255, 0.5);
		transform: rotateY(180deg);
	}

	&__item-img {
		display: block;

		&--small {
			width: 74px;
			height: 74px;
			margin-right: 5px;
		}

		&--big {
			width: 100px;
			height: 100px;
			margin-bottom: -5px;
		}
	}

	&__item-title {
		font-weight: 600;
		font-size: 18px;
		line-height: 1.3;
		max-width: 280px;

		&--back {
			margin-bottom: 3px;
		}
	}

	&__item-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.3;
		max-width: 350px;
	}
}
