.communication {
    padding: 60px;
    &__title {
        max-width: 850px;
        text-align: center;
        margin: 0 auto 55px;
    }

    &__list {
        display: grid;
        gap: 15px;
        grid-template-columns: 2.75fr 1.9fr 1.9fr;
        grid-template-rows: repeat(6, minmax(50px, 1fr));
    }

    &__item {
		position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(17, 65, 49, 0.07);
        border-radius: 10px;
		transition: 1.5s;
		cursor: pointer;
		-webkit-backface-visibility: hidden;
		display: flex;
		align-items: center;
		padding: 12px 24px;

		&:hover {
			transform: rotateY(180deg);
		}

        &--couples {
            grid-row: span 4;
			flex-direction: column;
			justify-content: center;
        }

		&--parents {
            grid-row: span 3;
			flex-direction: column;
			justify-content: center;
        }

		&--professionals {
			grid-row: span 3;
			flex-direction: column;
			justify-content: center;
		}

		&--women {
			grid-row: span 2;
		}

		&--men {
			grid-row: span 2;
		}

		&--non-binary {
			grid-column: span 2;
			grid-row: span 2;
		}
    }

	&__item-img {
		display: block;

		&--small {
			width: 74px;
			height: 74px;
			margin-right: 5px;
		}

		&--big {
			width: 100px;
			height: 100px;
			margin-bottom: -5px;
		}
	}

	&__item-back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: rotateY(180deg);
	}

	&__item-title {
		font-weight: 600;
		font-size: 17px;
	}
}
