.communication {
    padding: 60px;
    &__title {
        max-width: 850px;
        text-align: center;
        margin: 0 auto 55px;
    }

    &__tmp {
        display: block;
        max-width: 100%;
        width: 684px;
        height: auto;
        margin: 0 auto;
    }
}