.faq-answers {
    padding: 0 20px;

    &__container {
        padding: 60px 0 120px;
        max-width: 860px;
        margin: 0 auto;
		@media (max-width: 1024px) {
            padding: 40px 0 100px;
        }
        @media (max-width: 768px) {
            padding: 35px 0 90px;
        }
    }

    &__title-2 {
        text-align: center;
        margin-bottom: 54px;
		@media (max-width: 1024px) {
            margin-bottom: 34px;
        }
        @media (max-width: 768px) {
            margin-bottom: 25px;
        }
    }
	&__title-3 {
        margin: 43px 0 26px;
		@media (max-width: 1024px) {
            margin: 32px 0 16px;
        }
        @media (max-width: 768px) {
            margin: 25px 0 8px;
        }
    }

	&__list {
		margin-bottom: 43px;
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__item {
		background-color: rgba(118, 193, 167, .1);
		border-radius: 6px;
		margin-bottom: 14px;
		padding: 25px 112px 25px 25px;
		cursor: pointer;
		position: relative;
		@media (max-width: 1024px) {
			padding: 20px 80px 20px 15px;
		}
		@media (max-width: 768px) {
			padding: 16px 60px 16px 10px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&--active {
			cursor: default;
			.faq-answers__item-title {
				color: $clr-black;
				&:before {
					transform: translateY(-50%) rotate(180deg);
				}
			}
			.faq-answers__item-content {
				padding-top: 25px;
				height: auto;
				@media (max-width: 1024px) {
					padding-top: 23px;
				}
				@media (max-width: 768px) {
					padding-top: 21px;
				}
			}
		}
	}

	&__item-title {
		font-weight: 600;
		font-size: 22px;
		line-height: 1.22;
		color: rgba(18, 15, 28, .6);
		transition: .3s;
		position: relative;
		@media (max-width: 1024px) {
			font-size: 20px;
		}
		@media (max-width: 768px) {
			font-size: 18px;
		}

		&:before {
			content: "";
			position: absolute;
			width: 22px;
			height: 13px;
			top: 50%;
			right: -57px;
			background: url("../img/svg/faq-arrow.svg") no-repeat 50% 50% /contain;
			transition: .3s;
			transform: translateY(-50%);
			@media (max-width: 1024px) {
				right: -46px;
			}
			@media (max-width: 768px) {
				right: -40px;
			}
		}
	}

	&__item-content {
		color: rgba(18, 15, 28, .6);
		font-size: 17px;
		line-height: 1.35;
		overflow: hidden;
		height: 0;
		transition: .3s;
		margin-right: -87px;
		@media (max-width: 1024px) {
			line-height: 1.3;
			margin-right: -65px;
		}
		@media (max-width: 768px) {
			font-size: 16px;
			line-height: 1.22;
			margin-right: -50px;
		}

		& > * {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		ul {
			list-style: disc;

			li {
				padding-left: 25px;
				margin-bottom: 5px;
				position: relative;

				&:before {
					position: absolute;
					content: "";
					top: 9px;
					left: 10px;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: rgba(18, 15, 28, .6);
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}