.footer {
    padding: 0 20px;
	overflow: hidden;
	background: $clr-white;

	&--dark {
		background: #F7FAF9;
	}

    &__container {
        padding: 37px 0 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 55px;
		max-width: 1210px;
		margin: 0 auto;
        @media (max-width: 1024px) {
            gap: 20px;
        }
        @media (max-width: 768px) {
            gap: 10px;
            grid-template-columns: 1fr;
            max-width: 500px;
        } 
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        @media (max-width: 768px) {
            padding-top: 40px;
        }
    }

    &__nav-item {
        margin-right: auto;

        &:last-child {
            margin-right: 0;
        }
    }

    &__nav-link {
        color: $clr-black;
        padding: 13px 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        transition: .3s;

        &:hover {
            opacity: .5;
        }
    }

    &__logo-wrapper {
        display: flex;
        justify-content: center;
        @media (max-width: 768px) {
            grid-row-start: 1;
        } 
    }

    &__logo {
        display: block;
        width: 146px;
        height: 43px;
    }

    &__subscribe-wrapper {
        display: block;
        @media (max-width: 768px) {
            grid-row-start: 2;
        }
    }

	&__subscribe-text {
		color: $clr-black;
		font-size: 16px;
		line-height: 1.375;
		margin-bottom: 15px;
	}

	&__subscribe {
		display: flex;
	}

	&__input {
		padding: 13px 30px 13px 13px;
		font-size: 18px;
		line-height: 1.2;
		border: 1px solid $clr-accent;
		border-radius: 7px 0 0 7px;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $clr-black;
        width: 100%;

		&::placeholder {
			color: rgba(135, 141, 150, .4);
			opacity: 1;
		}
	}

	&__btn {
		margin-left: -17px;
		cursor: pointer;
	}
}
