.video {
    padding: 0 20px;
    position: relative;
    overflow: hidden;

    &__anchor {
        position: absolute;
        height: 0px;
        width: 0px;
        top: -55px;
    }

    &__container {
        padding-bottom: 64px;
        max-width: 1154px;
        margin: 0 auto;
        @media (max-width: 1024px) {
            max-width: 100%;
			width: 600px;
		}
    }

    &__title {
        text-align: center;
        margin-bottom: 45px;
    }

    &__wrapper {
		display: grid;
		grid-template-columns: 1.23fr 1fr;
		align-items: center;
        margin-bottom: 47px;
        position: relative;
        @media (max-width: 1024px) {
			grid-template-columns: 1fr;
            margin-bottom: 55px;
		}
	}

    &__popcorn {
        position: absolute;
        right: -110px;
        bottom: -150px;
        width: 174px;
        height: 190px;
        background: url("../img/video/video-popcorn-glass-x2.min.png") no-repeat 50% 50% /contain;
        z-index: 1;
        @media (max-width: 1024px) {
			transform: scale(.75);
            right: -40px;
            bottom: -100px;
		}
    }

    &__popcorn-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: popcorn 2.5s infinite linear;
        pointer-events: none;

        &--1 {
            background: url("../img/video/video-popcorn-1a-x2.min.png") no-repeat 50% 50% /contain;
            animation-delay: 0s;
        }
        &--2 {
            background: url("../img/video/video-popcorn-1b-x2.min.png") no-repeat 50% 50% /contain;
            animation-delay: 1s;
        }
        &--3 {
            background: url("../img/video/video-popcorn-1c-x2.min.png") no-repeat 50% 50% /contain;
            animation-delay: .5s;
        }
    }

    &__block {
        height: 100%;
    }

    &__main-video-wrapper {
        height: 100%;
        position: relative;
        background-color: $clr-black;
        border-radius: 15px;
    }

    &__main-video {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 15px;
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 76px;
        height: 76px;
        transform: translate(-50%, -50%);
        transition: .5s;
        cursor: pointer;

        &:hover {
            transform: translate(-50%, -50%) scale(1.05);
        }

        &--hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__pause {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        cursor: pointer;
        pointer-events: none;

        &--active {
            pointer-events: auto;
        }
    }

    &__decoration-text {
        position: absolute;
        width: 159px;
        height: 54px;
        bottom: -60px;
        left: 50%;
        background: url("../img/svg/video-text.svg") no-repeat 50% 50% /contain;
        @media (max-width: 1024px) {
			display: none;
		}
    }

    &__decoration-crown {
        position: absolute;
        width: 210px;
        height: 180px;
        top: -120px;
        left: -100px;
        background: url("../img/video/video-crown-x2.min.png") no-repeat 50% 50% /contain;
        transition: 2s;

        &--start {
            transform: translateX(-1150px)
        }
    }

    &__name {
        position: absolute;
        left: 30px;
        bottom: 20px;
        right: 30px;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        color: $clr-white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }

    &__list-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__list {
        display: flex;
        flex-direction: column;
        background: #FAFAFA;
        height: 317px;
        width: 100%;
    }

    &__item {
        display: flex;
        padding: 14px 20px;
        cursor: pointer;

        &--active {
            background: $clr-gray;
            background: rgba(255, 255, 255, 0.4);
            background: radial-gradient(65.92% 251.77% at 50% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%) , #F0EEEF;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
        }
    }

    &__item-poster {
        width: auto;
        flex-shrink: 0;
        height: 100%;
    }

    &__item-name {
        font-weight: 600;
        font-size: 17px;
        padding-left: 24px;
        max-width: 100%;
        overflow: hidden;
    }

    &__next,
    &__prev {
        font-size: 0;
        background: #FAFAFA;
        border-radius: 5px;
        height: 28px;
        cursor: pointer;
        position: relative;
        transition: .3s;
        margin-left: 6px;

        &.swiper-button-disabled {
            pointer-events: none;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 13px;
            height: 10px;
            transition: .3s;
            background: url("../img/svg/next-icon.svg") no-repeat 50% 50% / contain;
        }

        &:hover {
            background: rgba(222, 222, 222, 0.4);
        }
    }

    &__prev {
        margin-bottom: 12px;
        &:before {
            transform: translate(-50%, -50%) rotate(180deg);
        }
        @media (max-width: 1024px) {
            margin-top: 10px;
			margin-bottom: 10px;
		}
    }

    &__next {
        margin-top: 12px;
        &:before {
            transform: translate(-50%, -50%);
        }
        @media (max-width: 1024px) {
			margin-top: 10px;
		}
    }

    &__btn-wrapper {
        display: flex;
        justify-content: center;
        @media (max-width: 1024px) {
			display: none;
		}
    }
}
